<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tvShows</title>
    <link rel="stylesheet" href="output.css" type="text/css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="">
    <div class="navbar bg-accent shadow-2xl rounded-lg mx-auto w-5/6 mb-11 mt-8">
      <section id="title" class="navbar-start">
        <h1 >tvWatchList</h1>
      </section>

      <section id="searchBarSection" class="navbar-center">
        <form id="searchForm">
          <input id="searchBar" type="text" placeholder="Search for a Tv Show" />
          <button id="searchBtn" type="submit">Search</button>
        </form>
      </section>

      <section id="nav"  class="navbar-end">
        <nav>
            <a href="">something</a>
            <a href="">soemthing</a>
            <a href="">something</a>
        </nav>
      </section>
    </div>
    
    <section id="searchResults" class="flex flex-wrap justify-around px-96 gap-2.5"></section>

    <script src="showRequests.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
