<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tvShows</title>
    <link rel="stylesheet" href="css/output.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="top">
    <div
      class="navbar bg-primary shadow-lg shadow-shadow-gray-950 rounded-lg mx-auto w-5/6 mb-11 mt-8"
    >
      <section id="title" class="navbar-start font-bold text-2xl pl-4 text-white w-1/4 ">
        <a href="/" class="hover:text-black">tvWatchList</a>
      </section>

      <section id="searchBarSection" class="navbar-center w-1/2 ">
        <form id="searchForm" class="w-full flex justify-center items-center">
          <input
            id="searchBar"
            type="text"
            placeholder="Search for a Tv Show"
            class="input input-bordered input-secondary w-full max-w-xs mr-8"
          />
          <button id="searchBtn" type="submit" class="text-white btn btn-outline">Search</button>
        </form>
      </section>

      <!-- <section id="nav" class="navbar-end w-1/4">
        <nav>
          <a href="/createPage" class="text-white btn btn-outline mr-4">Create Account</a>
          <a href="/loginPage" class="text-white btn btn-outline mr-4">Login</a>
        </nav>
      </section> -->
    </div>

    <div class="flex justify-center mb-11">
      <h2 id="searchText" class="text-2xl font-bold text-primary"></h2>
    </div>

    <section
      id="searchResults"
      class="flex flex-wrap justify-around px-96 gap-2.5"
    >
      <h2 class="font-bold text-white text-2xl mb-8">Look up a TV Show</h2>
  
  </section>

    <div id="loadingDiv" class="flex justify-center"></div>
    </div>


    <footer class="footer footer-center bg-base-300 text-base-content p-4 mt-11">
      <aside>
        <a href="#top">Back to Top</a>
      </aside>
    </footer>
    <script src="js/showRequests.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>

  
</html>
