<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tvShows</title>
    <link rel="stylesheet" href="output.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="top">
    <div
      class="navbar bg-primary shadow-lg shadow-shadow-gray-950 rounded-lg mx-auto w-5/6 mb-11 mt-8"
    >
      <section
        id="title"
        class="navbar-start font-bold text-2xl pl-4 text-white w-1/4"
      >
        <a href="/" class="hover:text-black">tvWatchList</a>
      </section>

      <section id="searchBarSection" class="navbar-center w-1/2"></section>

      <section id="nav" class="navbar-end w-1/4">
        <nav>
          <a href="/" class="text-white btn btn-outline mr-4">Back</a>
        </nav>
      </section>
    </div>

    <section class="flex flex-col items-center">
        
        <%if(type == 'create'){ %>
            <input id="toggle" type="checkbox" checked="checked" class="toggle border-primary bg-primary"/>
        <%} else{%>
            <input id="toggle" type="checkbox"  class="toggle border-primary bg-primary"/>
        <%}%>
        <p>Switch</p>
        <div id="login" class="flex flex-col items-center rounded-lg bg-primary px-8 pb-8 mt-8 shadow-lg">
            <p class="py-4 font-bold text-white">Login</p>
            <form id="login" class="flex flex-col items-center">
                  <label class="input input-bordered flex items-center mb-4">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="currentColor"
                      class="h-4 w-4 opacity-70">
                      <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                    </svg>
                    <input type="text" class="grow" placeholder="Username" required/>
                    <div class="badge badge-accent">Required</div>
                  </label>
                  
                  <label class="input input-bordered flex items-center mb-4">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="currentColor"
                      class="h-4 w-4 opacity-70">
                      <path
                        fill-rule="evenodd"
                        d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                        clip-rule="evenodd" />
                    </svg>
                    <input type="password" class="grow" placeholder="Password" required/>
                    <div class="badge badge-accent">Required</div>
                  </label>
                  <button id="loginBtn" class="btn btn-outline btn-white">Login</button>
            </form>
        </div>

        <div id="create" class="flex flex-col items-center rounded-lg bg-primary px-8 pb-8 mt-8 shadow-lg" >
            <p class="py-4 font-bold text-white">Create Account</p>
            <form id="createUser" class="flex flex-col items-center">
            <label class="input input-bordered flex items-center mb-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  class="h-4 w-4 opacity-70">
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                </svg>
                <input type="text" class="grow" placeholder="Username" required/>
                <div class="badge badge-accent">Required</div>
              </label>
              
              <label class="input input-bordered flex items-center mb-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  class="h-4 w-4 opacity-70">
                  <path
                    fill-rule="evenodd"
                    d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                    clip-rule="evenodd" />
                </svg>
                <input type="password" class="grow" placeholder="Password" required/>
                <div class="badge badge-accent">Required</div>
              </label>

              <label class="input input-bordered flex items-center mb-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  class="h-4 w-4 opacity-70">
                  <path
                    fill-rule="evenodd"
                    d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                    clip-rule="evenodd" />
                </svg>
                <input type="password" class="grow" placeholder="Re-Enter Password" required/>
                <div class="badge badge-accent">Required</div>
              </label>

              <button id="createBtn" class="btn btn-outline btn-white">Create Account</button>
            </form>
        </div>


    </section>

    
  <script src="loginCreate.js"></script>
  </body>
</html>
